<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <time>About Our Restaurant</title>
</head>
<body>
    <h1>About Our Restaurant</h1>
    <p>
        Welocme to <Strong>Spice Garden</Strong>-wherefresh flavors meet a warm atmosphere
        we use the finest local ingredients to prepare authentic dishes you'll love
    </p>
    <img src="/static/images/restaurant.jpg" alt="Restaurant Interior" width="600">
</body>
</html>
