<!DOCTYPE html>
<html>
<head>
    <title>My Homepage</title>
<head>
<body style="margin:0; font-family:Arial,sans-serif;background-color:#f4f6f8; color:#333;">
    <header style="background:#4CAF50; padding:20px; text-align:center;color:white;">
        <h1 style ="margin:0; font_Size:2.5rem;">welcome to my Homepage</h1>
        <p1 style="margin:5px 0 0; font-size:1.2rem;">Makinng things simple and elegant</p1>
    </header>

    <main style="padding:40px; text-align:center;">
        <h2 style="color:#4CAF50; margin_bottom:20px;">
        <p style="max_width:600px; margin:0 auto; line-height:1.6; font-size:1rem;">
            Hello! This is a simple Homepage styled with inline CSS.
            The goal is to make the text readable,the layout clean, and the page visually appealing with just a few style tweaks.
        </p>
    </main>

    <footer style="background:333; color:white; padding:15px; text-align:center; margin-top:40px;">
        <p style="margin:0;">&copy; 2025 My Homepage| All rights reserved</p>
    </footer>
</body>
</html>



